In [2]:
#Importar librerias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Primer Archivo CSV
from google.colab import files
files.upload()

In [ ]:
#Convertir a DataFrame
data = pd.read_csv("Ventas_totales.csv")
data.head(5)

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data.isnull().sum()
valores_nulos

In [ ]:
#Realizamos una copia del dataframe
data1=data.copy()

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["tarjetas_debito"]=data1["tarjetas_debito"].fillna(round(data["tarjetas_debito"].mean(),1))

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["tarjetas_credito"]=data1["tarjetas_credito"].fillna(round(data["tarjetas_credito"].mean(),1))

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["otros_medios"]=data1["otros_medios"].fillna(round(data["otros_medios"].mean(),1))

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediante
data1["subtotal_ventas_alimentos_bebidas"]=data1["subtotal_ventas_alimentos_bebidas"].fillna(round(data["subtotal_ventas_alimentos_bebidas"].median(),1))
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediante
data1["subtotal_ventas_alimentos_bebidas"]=data1["subtotal_ventas_alimentos_bebidas"].fillna(round(data["subtotal_ventas_alimentos_bebidas"].median(),1))
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediante
data1["bebidas"]=data1["bebidas"].fillna(round(data["bebidas"].median(),1))
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediante
data1["almacen"]=data1["almacen"].fillna(round(data["almacen"].median(),1))
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Segundo método de sustitución de valores nulos
#Sustituir valores nulos con mediante
data1["panaderia"]=data1["panaderia"].fillna(round(data["panaderia"].median(),1))
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto
data1["articulos_limpieza_perfumeria"]= data1["articulos_limpieza_perfumeria"].fillna(10)
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto
data1["indumentaria_calzado_textiles_hogar"]= data1["indumentaria_calzado_textiles_hogar"].fillna(3)
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en  concreto
data1["electronicos_articulos_hogar"]= data1["electronicos_articulos_hogar"].fillna(7)
data1

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data1["lacteos"] =data1["lacteos"].fillna(method="ffill")

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data1["carnes"] =data1["carnes"].fillna(method="ffill")

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Quinto método de sustitución de valores nulos
#Sustituir valores nulos por valores no nulos hacia adelante  "forward fill" ("ffill")
#Filtro por columnas
data1["verduleria_fruteria"] =data1["verduleria_fruteria"].fillna(method="ffill")

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["otros"]=data1["otros"].fillna(round(data["otros"].mean(),1))

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["alimentos_preparados_rotiseria"]=data1["alimentos_preparados_rotiseria"].fillna(round(data["alimentos_preparados_rotiseria"].mean(),1))

In [ ]:
#Identificar valores nulos por suma
valores_nulos=data1.isnull().sum()
valores_nulos

In [ ]:
#Primer método de sustitución de valores nulos
#Sustituir valores nulos con promedio o media
data1["salon_ventas"]=data1["salon_ventas"].fillna(round(data["salon_ventas"].mean(),1))

In [ ]:
#Corroboramos valores nulos en todo el dataframe
valores_nulos=data1.isnull().sum().sum()
valores_nulos

In [ ]:
data1.info()

DataSet sin valores nulos a CSV

In [ ]:
#Convertir DataFrame a CSV
data1.to_csv("Ventas_nulos.csv")

In [ ]:
#descargar archivo filtrado en csv
from google.colab import files

files.download("Ventas_nulos.csv")